In [1]:
!createdb -U student edassignment3

createdb: error: database creation failed: ERROR:  database "edassignment3" already exists

In [1]:
%load_ext sql

/home/ubuntu/.python3-venv/lib/python3.12/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
%sql postgresql://student@/edassignment3

Connecting to 'postgresql://student@/edassignment3'

# Problem 1

In [3]:
%%sql
--creating table for candidate_master              
Drop Table If EXISTS Candidate_Master Cascade;  --- dropping table candidate master just in case
CREATE TABLE Candidate_Master (   ---adding the columns for the data
	CAND_ID VARCHAR(9) NOT NULL, --- NOT NULL makes it so the column has no nulls under any circumstances
	CAND_NAME VARCHAR(200) DEFAULT NULL, 
	CAND_PTY_AFFILIATION VARCHAR(3) DEFAULT 'UNK', --- DEFAULT 'UNK' sets the null as 'UNK', when it would previously be null. we try to avoid nulls so any column that can get a non-null default is best
	CAND_ELECTION_YR NUMERIC(4) DEFAULT '0000', 
	CAND_OFFICE_ST VARCHAR(2) DEFAULT 'XX',
	CAND_OFFICE VARCHAR(1) DEFAULT 'U',
	CAND_OFFICE_DISTRICT VARCHAR(2) DEFAULT 'XX',
	CAND_ICI VARCHAR(1) DEFAULT 'U',
	CAND_STATUS VARCHAR(1) DEFAULT 'U',
	CAND_PCC VARCHAR(9) DEFAULT 'X99999999',
	CAND_ST1 VARCHAR(34) DEFAULT '',
	CAND_ST2 VARCHAR(34) DEFAULT NULL,
	CAND_CITY VARCHAR(30) DEFAULT 'UNKNOWN',
	CAND_ST VARCHAR(2) DEFAULT 'XX',	
	CAND_ZIP VARCHAR(9) DEFAULT '999999999',
	PRIMARY KEY (CAND_ID)  --- adding primary key associated with the table 
	
);

Running query in 'postgresql://student@/edassignment3'

++
||
++
++

In [4]:
%%sql 
--- this function sets a comment on the table, in this case, it gives the table its description
COMMENT ON TABLE Candidate_Master IS
'Candidate Master: contains one record for each candidate who has either registered with the Federal Election Commission or appeared on a ballot list prepared by a state elections office';

Running query in 'postgresql://student@/edassignment3'

++
||
++
++

In [5]:
%%sql 
--- this function sets a comment on each column. in this case, it gives the column its description
COMMENT ON COLUMN Candidate_Master.CAND_ID IS 'Candidate Identification: A 9-character alpha-numeric code assigned to a candidate by the Federal Election Commission. The candidate ID for a specific candidate remains the same across election cycles as long as the candidate is running for the same office.';
COMMENT ON COLUMN Candidate_Master.CAND_NAME IS 'Candidate Name: Name of the Candidate.';
COMMENT ON COLUMN Candidate_Master.CAND_PTY_AFFILIATION IS 'Party Affiliation: The political party affiliation reported by the candidate.';
COMMENT ON COLUMN Candidate_Master.CAND_ELECTION_YR IS 'Year of election: Candidates election year from a Statement of Candidacy or state ballot list';
COMMENT ON COLUMN Candidate_Master.CAND_OFFICE_ST IS 'Candidate state: State of the candidates office, House = state of race, President = US, Senate = state of race';
COMMENT ON COLUMN Candidate_Master.CAND_OFFICE IS 'Candidate Office: H = House, P = President, S = Senate';
COMMENT ON COLUMN Candidate_Master.CAND_OFFICE_DISTRICT IS 'Candidate District: Congressional district number, Congressional at large = 00, Senate = 00, Presidential = 00';
COMMENT ON COLUMN Candidate_Master.CAND_ICI IS 'Incumbent challenger status: C = Challenger, I = Incumbent, O = Open Seat is used to indicate an open seat; open seats are defined as seats where the incumbent never sought re-election';
COMMENT ON COLUMN Candidate_Master.CAND_STATUS IS 'Candidate Status: C = Statutory Candidate, F = Statutory candidate for future election, N = Not yet a statutory candidate, P = Statutory candidate in prior cycle';
COMMENT ON COLUMN Candidate_Master.CAND_PCC IS 'Principal campaign committee: The ID assigned by the Federal Election Commission to the candidates principal campaign committee for a given election cycle.';
COMMENT ON COLUMN Candidate_Master.CAND_ST1 IS 'Street Mailing address: Mailing address - street';
COMMENT ON COLUMN Candidate_Master.CAND_ST2 IS 'Street Mailing address line 2: Mailing address - street2';
COMMENT ON COLUMN Candidate_Master.CAND_CITY IS 'City Mailing address: Mailing address - city';
COMMENT ON COLUMN Candidate_Master.CAND_ST IS 'State Mailing address: Mailing address - state';
COMMENT ON COLUMN Candidate_Master.CAND_ZIP IS 'Zip Code Mailing address: Mailing address - ZIP';

Running query in 'postgresql://student@/edassignment3'

++
||
++
++

In [6]:
%%sql 
--- Quick function just to check all of the columns in the table
SELECT * FROM candidate_master;

Running query in 'postgresql://student@/edassignment3'

+---------+-----------+----------------------+------------------+----------------+-------------+----------------------+----------+-------------+----------+----------+----------+-----------+---------+----------+
| cand_id | cand_name | cand_pty_affiliation | cand_election_yr | cand_office_st | cand_office | cand_office_district | cand_ici | cand_status | cand_pcc | cand_st1 | cand_st2 | cand_city | cand_st | cand_zip |
+---------+-----------+----------------------+------------------+----------------+-------------+----------------------+----------+-------------+----------+----------+----------+-----------+---------+----------+
+---------+-----------+----------------------+------------------+----------------+-------------+----------------------+----------+-------------+----------+----------+----------+-----------+---------+----------+

In [7]:
%%sql 
--Creating table for commitee_master               
DROP TABLE IF EXISTS commitee_master CASCADE; ---- dropping table if exsists
CREATE TABLE commitee_master (  --- creating table for commitee_master
	CMTE_ID VARCHAR(9) NOT NULL,
	CMTE_NM VARCHAR(200) DEFAULT NULL,
	TRES_NM VARCHAR(90) DEFAULT NULL,
	CMTE_ST1 VARCHAR(34) DEFAULT '',
	CMTE_ST2 VARCHAR(34) DEFAULT NULL,
	CMTE_CITY VARCHAR(30) DEFAULT 'UNKNOWN',
	CMTE_ST VARCHAR(2) DEFAULT 'XX',
	CMTE_ZIP VARCHAR(9) DEFAULT '999999999',
	CMTE_DSGN VARCHAR(1) DEFAULT 'X',
	CMTE_TP VARCHAR(1) DEFAULT NULL, --- Null is necessary because X and U are taken for a committee type and using another letter would be confusing
	CMTE_PTY_AFFILIATION VARCHAR(3) DEFAULT 'UNK', --- UNK is the preset code for a party code that is not known
	CMTE_FILING_FREQ VARCHAR(1) DEFAULT 'X',
	ORG_TP VARCHAR(1) DEFAULT 'X',
	CONNECTED_ORG_NM VARCHAR(200) DEFAULT'',
	CAND_ID VARCHAR(9) DEFAULT NULL,
	PRIMARY KEY (CMTE_ID) ---creating primary key for commitee_master
);

Running query in 'postgresql://student@/edassignment3'

++
||
++
++

In [8]:
%%sql 
--- this function sets a comment on the table, in this case, it gives the table its description
COMMENT ON TABLE commitee_master IS
'Committee Master: contains one record for each committee registered with the Federal Election Commission. This includes federal political action committees and party committees, campaign committees for presidential, house and senate candidates, as well as groups or organizations who are spending money for or against candidates for federal office.';

Running query in 'postgresql://student@/edassignment3'

++
||
++
++

In [9]:
%%sql 
--- this function sets a comment on each column. in this case, it gives the column its description
COMMENT ON COLUMN commitee_master.CMTE_ID IS 'Committee Identification: A 9-character alpha-numeric code assigned to a committee by the Federal Election Commission. Committee IDs are unique and an ID for a specific committee always remains the same.';
COMMENT ON COLUMN commitee_master.CMTE_NM IS 'Committee Name: Name of the Committee.';
COMMENT ON COLUMN commitee_master.TRES_NM IS 'Treasurers Name: The officially registered treasurer for the committee.';
COMMENT ON COLUMN commitee_master.CMTE_ST1 IS 'Street One: Street Name of the Committee';
COMMENT ON COLUMN commitee_master.CMTE_ST2 IS 'Street Two: Second Line of Street Name of the Committee';
COMMENT ON COLUMN commitee_master.CMTE_CITY IS 'City or Town: City or Town Name of the Committee';
COMMENT ON COLUMN commitee_master.CMTE_ST IS 'State: State of the Committee';
COMMENT ON COLUMN commitee_master.CMTE_ZIP IS 'Zip Code: ZIP code of the committee';
COMMENT ON COLUMN commitee_master.CMTE_DSGN IS 'Committee designation: A = Authorized by a candidate, B = Lobbyist/Registrant PAC, D = Leadership PAC, J = Joint fundraiser, P = Principal campaign committee of a candidate, U = Unauthorized';
COMMENT ON COLUMN commitee_master.CMTE_TP IS 'Committee Type: C = Communication Cost, D = Delegate Committee, E = Electioneering Communication, H = House, I = Independent Expenditor (person or group), N = PAC - nonqualified, O = Independent expenditure-only (Super PACs), P = Presidential, Q = PAC - qualified, S = Senate, U = Single-candidate independent expenditure, V = Hybrid PAC (with Non-Contribution Account) - Nonqualified, W = Hybrid PAC (with Non-Contribution Account) - Qualifed, X = Party - nonqualified, Y = Party - qualified, Z = National party nonfederal account';
COMMENT ON COLUMN commitee_master.CMTE_PTY_AFFILIATION IS 'Committee Party: Party Affiliated with the Committee';
COMMENT ON COLUMN commitee_master.CMTE_FILING_FREQ IS 'Filing Frequency: A = Administratively terminated, D = Debt, M = Monthly filer, Q = Quarterly filer, T = terminated, W = Waived, C = Corporation, L = Labor organization, M = Membership organization, T = Trade association, V = Cooperative, W = Corportation without capital stock';
COMMENT ON COLUMN commitee_master.ORG_TP IS 'City Mailing address: Mailing address - city';
COMMENT ON COLUMN commitee_master.CONNECTED_ORG_NM IS 'Connected Organizations Name: Name of any connected organization';
COMMENT ON COLUMN commitee_master.CAND_ID IS 'Candidate Identification: When a committee has a committee type designation of H, S, or P, the candidates identification number will be entered in this field.';

Running query in 'postgresql://student@/edassignment3'

++
||
++
++

In [10]:
%%sql
--- Quick function just to check all of the columns in the table
select * from commitee_master;

Running query in 'postgresql://student@/edassignment3'

+---------+---------+---------+----------+----------+-----------+---------+----------+-----------+---------+----------------------+------------------+--------+------------------+---------+
| cmte_id | cmte_nm | tres_nm | cmte_st1 | cmte_st2 | cmte_city | cmte_st | cmte_zip | cmte_dsgn | cmte_tp | cmte_pty_affiliation | cmte_filing_freq | org_tp | connected_org_nm | cand_id |
+---------+---------+---------+----------+----------+-----------+---------+----------+-----------+---------+----------------------+------------------+--------+------------------+---------+
+---------+---------+---------+----------+----------+-----------+---------+----------+-----------+---------+----------------------+------------------+--------+------------------+---------+

In [11]:
%%sql
--creating the table for candidate_commitee_linkage                    
DROP TABLE IF EXISTS candidate_commitee_linkage CASCADE; --- dropping table if exists
CREATE TABLE candidate_commitee_linkage ( --- creating table
	CAND_ID VARCHAR (9) NOT NULL,
	CAND_ELECTION_YR NUMERIC (4) NOT NULL,
	FEC_ELECTION_YR NUMERIC (4) NOT NULL,
	CMTE_ID VARCHAR (9) DEFAULT NULL,
	CMTE_TP VARCHAR (1) DEFAULT NULL,
	CMTE_DSGN VARCHAR (1) DEFAULT 'X',
	LINKAGE_ID NUMERIC (12) NOT NULL,
	PRIMARY KEY ( LINKAGE_ID) --- 	adding primary key to table 
);

Running query in 'postgresql://student@/edassignment3'

++
||
++
++

In [12]:
%%sql 
--- this function sets a comment on the table, in this case, it gives the table its description
COMMENT ON TABLE candidate_commitee_linkage IS
'Candidate-Committee Linkage: links entities (1) and (2). It contains one record for each candidate to committee linkage.';

Running query in 'postgresql://student@/edassignment3'

++
||
++
++

In [13]:
%%sql 
--- this function sets a comment on each column. in this case, it gives the column its description
COMMENT ON COLUMN candidate_commitee_linkage.CAND_ID IS 'Candidate Identification: A 9-character alpha-numeric code assigned to a candidate by the Federal Election Commission. The candidate ID for a specific candidate remains the same across election cycles as long as the candidate is running for the same office.';
COMMENT ON COLUMN candidate_commitee_linkage.CAND_ELECTION_YR IS 'Candidate election year: Candidates election year.';
COMMENT ON COLUMN candidate_commitee_linkage.FEC_ELECTION_YR IS 'FEC election year: Active 2-year period.';
COMMENT ON COLUMN candidate_commitee_linkage.CMTE_ID IS 'Committee Identification: A 9-character alpha-numeric code assigned to a committee by the Federal Election Commission. The committee ID for a specific committee always remains the same.';
COMMENT ON COLUMN candidate_commitee_linkage.CMTE_TP IS 'Committee Type: C = Communication Cost, D = Delegate Committee, E = Electioneering Communication, H = House, I = Independent Expenditor (person or group), N = PAC - nonqualified, O = Independent expenditure-only (Super PACs), P = Presidential, Q = PAC - qualified, S = Senate, U = Single-candidate independent expenditure, V = Hybrid PAC (with Non-Contribution Account) - Nonqualified, W = Hybrid PAC (with Non-Contribution Account) - Qualifed, X = Party - nonqualified, Y = Party - qualified, Z = National party nonfederal account';
COMMENT ON COLUMN candidate_commitee_linkage.CMTE_DSGN IS 'Committee designation: A = Authorized by a candidate, B = Lobbyist/Registrant PAC, D = Leadership PAC, J = Joint fundraiser, P = Principal campaign committee of a candidate, U = Unauthorized';
COMMENT ON COLUMN candidate_commitee_linkage.LINKAGE_ID IS 'Linkage ID: Unique link ID.';

Running query in 'postgresql://student@/edassignment3'

++
||
++
++

In [14]:
%%sql 
--- Quick function just to check all of the columns in the table
select * from candidate_commitee_linkage

Running query in 'postgresql://student@/edassignment3'

+---------+------------------+-----------------+---------+---------+-----------+------------+
| cand_id | cand_election_yr | fec_election_yr | cmte_id | cmte_tp | cmte_dsgn | linkage_id |
+---------+------------------+-----------------+---------+---------+-----------+------------+
+---------+------------------+-----------------+---------+---------+-----------+------------+

In [15]:
%%sql
--creating the table for contributions_by_individuals                    
DROP TABLE IF EXISTS contributions_by_individuals CASCADE; -- dropping table if it exists
CREATE TABLE contributions_by_individuals (    --creating table 
	CMTE_ID VARCHAR (9) NOT NULL,
	AMNDT_IND VARCHAR (1) DEFAULT 'X',
	RPT_TP VARCHAR (3) DEFAULT 'XXX',	
	TRANSACTION_PGI VARCHAR (5) DEFAULT 'X9999',
	IMAGE_NUM VARCHAR(18) DEFAULT '999999999999999999',
	TRANSACTION_TP VARCHAR (3) DEFAULT '99X',
	ENTITY_TP VARCHAR (3) DEFAULT 'XXX',
	NAME VARCHAR (200) DEFAULT '',
	CITY VARCHAR (30) DEFAULT 'UKNOWN',
	STATE VARCHAR (2) DEFAULT 'XX',
	ZIP_CODE VARCHAR (9) DEFAULT '999999999',
	EMPLOYER VARCHAR (38) DEFAULT 'NONE',
	OCCUPATION VARCHAR (38) DEFAULT 'NONE',
	TRANSACTION_DT DATE DEFAULT NULL,
	TRANSACTION_AMT NUMERIC (14,2) DEFAULT '0',
	OTHER_ID VARCHAR (9) DEFAULT NULL,
	TRAN_ID VARCHAR (32) DEFAULT 'UNKNOWN',
	FILE_NUM NUMERIC (22) DEFAULT NULL,
	MEMO_CD VARCHAR (1) DEFAULT NULL,
	MEMO_TEXT VARCHAR (100) DEFAULT '',
	SUB_ID NUMERIC (19) NOT NULL,
	PRIMARY KEY (SUB_ID)  -- adding primary key for table

);

Running query in 'postgresql://student@/edassignment3'

++
||
++
++

In [16]:
%%sql
--- this function sets a comment on the table, in this case, it gives the table its description
COMMENT ON TABLE contributions_by_individuals IS
'Individual Contributions: contains each contribution from an individual to a federal committee.';

Running query in 'postgresql://student@/edassignment3'

++
||
++
++

In [68]:
%%sql 
--- this function sets a comment on each column. in this case, it gives the column its description
COMMENT ON COLUMN contributions_by_individuals.CMTE_ID IS 'Committee Identification: A 9-character alpha-numeric code assigned to a committee by the Federal Election Commission.';
COMMENT ON COLUMN contributions_by_individuals.AMNDT_IND IS 'Amendment indicator: Indicates if the report being filed is new (N), an amendment (A) to a previous report or a termination (T) report.';
COMMENT ON COLUMN contributions_by_individuals.RPT_TP IS 'Report Type: Indicates the type of report filed.';
COMMENT ON COLUMN contributions_by_individuals.TRANSACTION_PGI IS 'Primary-general indicator: This code indicates the election for which the contribution was made. EYYYY (election plus election year), P = Primary, G = General, O = Other, C = Convention, R = Runoff, S = Special, E = Recount.';
COMMENT ON COLUMN contributions_by_individuals.IMAGE_NUM IS 'Image Number: 11-digit Image Number Format. YYOORRRFFFF, YY - scanning year, OO - office (01 - House, 02 - Senate, 03 - FEC Paper, 90-99- FEC Electronic), RRR - reel number, FFFF- frame number. 18-digit Image Number Format (June 29, 2015), YYYYMMDDSSPPPPPPPP, YYYY - scanning year, MM - scanning month, DD - scanning day, SS - source (02 - Senate, 03 - FEC Paper, 90-99 - FEC Electronic), and PPPPPPPP - page (reset to zero every year on January 1)';
COMMENT ON COLUMN contributions_by_individuals.TRANSACTION_TP IS 'Transaction Type: Transaction types 10, 11, 15, 15C, 15E, 15I, 15T, 19, 22Y, 24I, 24T, 20Y and 21Y are included in the INDIV file. Beginning with 2016 transaction types 30, 30T, 31, 31T, 32, 32T, 40T, 40Y, 41T, 41Y, 42T and 42Y are also included in the INDIV file.';
COMMENT ON COLUMN contributions_by_individuals.ENTITY_TP IS 'Entity type: ONLY VALID FOR ELECTRONIC FILINGS received after April 2002. CAN = Candidate, CCM = Candidate Committee, COM = Committee, IND = Individual (a person), ORG = Organization (not a committee and not a person), PAC = Political Action Committee, PTY = Party Organization.';
COMMENT ON COLUMN contributions_by_individuals.NAME IS 'Contributor/Lender/Transfer Name: Name of the Individual Contributor/Lender/Transfer.';
COMMENT ON COLUMN contributions_by_individuals.CITY IS 'City: City of the Contributor/Lender/Transfer.';
COMMENT ON COLUMN contributions_by_individuals.STATE IS 'State: State of the Contributor/Lender/Transfer.';
COMMENT ON COLUMN contributions_by_individuals.ZIP_CODE IS 'Zip Code: Zip Code of the Contributor/Lender/Transfer.';
COMMENT ON COLUMN contributions_by_individuals.EMPLOYER IS 'Employer: Name of the employer of the Contributor/Lender/Transfer';
COMMENT ON COLUMN contributions_by_individuals.OCCUPATION IS 'Occupation: Occupation of the the Contributor/Lender/Transfer';
COMMENT ON COLUMN contributions_by_individuals.TRANSACTION_DT IS 'Transaction Date: Date of Transaction in MMDDYYY format.';
COMMENT ON COLUMN contributions_by_individuals.TRANSACTION_AMT IS 'Transaction Amount: Dollar amount of the transaction.';
COMMENT ON COLUMN contributions_by_individuals.OTHER_ID IS 'Other identification number: For contributions from individuals this column is null. For contributions from candidates or other committees this column will contain that contributors FEC ID.';
COMMENT ON COLUMN contributions_by_individuals.TRAN_ID IS 'Transaction ID: ONLY VALID FOR ELECTRONIC FILINGS. A unique identifier associated with each itemization or transaction appearing in an FEC electronic file. A transaction ID is unique for a specific committee for a specific report. In other words, if committee, C1, files a Q3 New with transaction SA123 and then files 3 amendments to the Q3 transaction SA123 will be identified by transaction ID SA123 in all 4 filings.';
COMMENT ON COLUMN contributions_by_individuals.FILE_NUM IS 'File number / Report ID: Unique Report ID.';
COMMENT ON COLUMN contributions_by_individuals.MEMO_CD IS 'Memo code: X indicates that the amount is NOT to be included in the itemization total.';
COMMENT ON COLUMN contributions_by_individuals.MEMO_TEXT IS 'Memo text: A description of the activity. Memo Text is available on itemized amounts on Schedules A and B. These transactions are included in the itemization total.';
COMMENT ON COLUMN contributions_by_individuals.SUB_ID IS 'FEC record number: Unique row ID.';

Running query in 'postgresql://student@/edassignment3'

++
||
++
++

In [18]:
%%sql
--- Quick function just to check all of the columns in the table
select * from contributions_by_individuals;

Running query in 'postgresql://student@/edassignment3'

+---------+-----------+--------+-----------------+-----------+----------------+-----------+------+------+-------+----------+----------+------------+----------------+-----------------+----------+---------+----------+---------+-----------+--------+
| cmte_id | amndt_ind | rpt_tp | transaction_pgi | image_num | transaction_tp | entity_tp | name | city | state | zip_code | employer | occupation | transaction_dt | transaction_amt | other_id | tran_id | file_num | memo_cd | memo_text | sub_id |
+---------+-----------+--------+-----------------+-----------+----------------+-----------+------+------+-------+----------+----------+------------+----------------+-----------------+----------+---------+----------+---------+-----------+--------+
+---------+-----------+--------+-----------------+-----------+----------------+-----------+------+------+-------+----------+----------+------------+----------------+-----------------+----------+---------+----------+---------+-----------+--------+

In [19]:
%%sql 
---creating table for financial summary 
DROP TABLE IF EXISTS financial_summary CASCADE; --dropping table if it exists
CREATE TABLE financial_summary (  ---creating the table 
	CAND_ID VARCHAR (9) NOT NULL,
	CAND_NAME VARCHAR(200) DEFAULT NULL,
	CAND_ICI VARCHAR(1) DEFAULT 'U',
	PTY_CD VARCHAR(1) DEFAULT 'X',
	CAND_PTY_AFFILIATION VARCHAR(3) DEFAULT'UNK',
	TTL_RECEIPTS NUMERIC(14,2) DEFAULT '0',
	TRANS_FROM_AUTH NUMERIC(14,2) DEFAULT '0',
	TTL_DISB NUMERIC(14,2) DEFAULT '0',
	TRANS_TO_AUTH NUMERIC(14,2) DEFAULT '0',
	COH_BOP NUMERIC(14,2) DEFAULT '0',
	COH_COP NUMERIC(14,2) DEFAULT '0',
	CAND_CONTRIB NUMERIC(14,2) DEFAULT '0',
	CAND_LOANS NUMERIC(14,2) DEFAULT '0',
	OTHER_LOANS NUMERIC(14,2) DEFAULT '0',
	CAND_LOAN_REPAY NUMERIC(14,2) DEFAULT '0',
	OTHER_LOAN_REPAY NUMERIC(14,2) DEFAULT '0',
	DEBTS_OWED_BY NUMERIC(14,2) DEFAULT '0',
	TTL_INDIV_CONTRIB NUMERIC(14,2) DEFAULT '0',
	CAND_OFFICE_ST VARCHAR(2) DEFAULT 'XX',
	CAND_OFFICE_DISTRICT VARCHAR(2) DEFAULT 'XX',
	SPEC_ELECTION VARCHAR(1) DEFAULT NULL,
	PRIM_ELECTION VARCHAR(1) DEFAULT NULL,
	RUN_ELECTION VARCHAR(1) DEFAULT NULL,
	GEN_ELECTION VARCHAR(1) DEFAULT NULL,
	GEN_ELECTION_PRECENT NUMERIC(7,4) DEFAULT NULL,
	OTHER_POL_CMTE_CONTRIB NUMERIC(14,2) DEFAULT '0',
	POL_PTY_CONTRIB NUMERIC(14,2) DEFAULT '0',
	CVG_END_DT DATE DEFAULT NULL,
	INDIV_REFUNDS NUMERIC(14,2) DEFAULT '0',
	CMTE_REFUNDS NUMERIC(14,2) DEFAULT '0',
	PRIMARY KEY (CAND_ID),--adding primary key to the table
	FOREIGN KEY (CAND_ID) REFERENCES Candidate_Master(CAND_ID)---- adding foreign key that goes to candidate master
);

Running query in 'postgresql://student@/edassignment3'

++
||
++
++

In [20]:
%%sql
--- this function sets a comment on the table, in this case, it gives the table its description
COMMENT ON TABLE financial_summary IS
'Financial Summary: provides overall receipts and disbursements for each party committee registered with the commission, along with a breakdown of overall receipts by source and totals for contributions to other committees, independent expenditures made and other information.';

Running query in 'postgresql://student@/edassignment3'

++
||
++
++

In [69]:
%%sql 
--- this function sets a comment on each column. in this case, it gives the column its description
COMMENT ON COLUMN financial_summary.CAND_ID IS 'Candidate Identification: A 9-character alpha-numeric code assigned to a candidate by the Federal Election Commission. The candidate ID for a specific candidate remains the same across election cycles as long as the candidate is running for the same office..';
COMMENT ON COLUMN financial_summary.CAND_NAME IS 'Candidate Name: Name of the Candidate.';
COMMENT ON COLUMN financial_summary.CAND_ICI IS 'Incumbent challenger status: C = Challenger, I = Incumbent, O = Open Seat is used to indicate an open seat; open seats are defined as seats where the incumbent never sought re-election';
COMMENT ON COLUMN financial_summary.PTY_CD IS 'Party Code: Code for the party of the candidate';
COMMENT ON COLUMN financial_summary.CAND_PTY_AFFILIATION IS 'Party Affiliation: The political party affiliation reported by the candidate.';
COMMENT ON COLUMN financial_summary.TTL_RECEIPTS IS 'Total receipts: total of received contributions per candidate';
COMMENT ON COLUMN financial_summary.TRANS_TO_AUTH IS 'Transfers from authorized committees: Total transfers from authorized committees.';
COMMENT ON COLUMN financial_summary.TTL_DISB IS 'Total disbursements: Total disbursements to candidate.';
COMMENT ON COLUMN financial_summary.TRANS_TO_AUTH IS 'Transfers to authorized committees: Total transfers to authorized committees.';
COMMENT ON COLUMN financial_summary.COH_BOP IS 'Beginning Cash: Beginning Cash before transfer.';
COMMENT ON COLUMN financial_summary.COH_COP IS 'Ending Cash: Ending Cash after transfer';
COMMENT ON COLUMN financial_summary.CAND_CONTRIB IS 'Contributions from candidate: Total contributions from candidate';
COMMENT ON COLUMN financial_summary.CAND_LOANS IS 'Loans from candidate: Total loans from candidate.';
COMMENT ON COLUMN financial_summary.OTHER_LOANS IS 'Other loans: Other loans in report.';
COMMENT ON COLUMN financial_summary.CAND_LOAN_REPAY IS 'Candidate loan repayments: Total repayments of loan by candidate.';
COMMENT ON COLUMN financial_summary.DEBTS_OWED_BY IS 'Debts owed by: Total debts owed.';
COMMENT ON COLUMN financial_summary.TTL_INDIV_CONTRIB IS 'Total individual contributions: Total amount of individual contributions.';
COMMENT ON COLUMN financial_summary.CAND_OFFICE_ST IS 'Candidate State: State of Candidate.';
COMMENT ON COLUMN financial_summary.CAND_OFFICE_DISTRICT IS 'Candidate District: District of Candidate.';

COMMENT ON COLUMN financial_summary.SPEC_ELECTION IS 'Special election status: Win or loss of special election, Election result data included in 1996-2006 files only.';
COMMENT ON COLUMN financial_summary.PRIM_ELECTION IS 'Primary election status: Win or loss of primary election, Election result data included in 1996-2006 files only.';
COMMENT ON COLUMN financial_summary.RUN_ELECTION IS 'Runoff election status: Win or loss of runoff election, Election result data included in 1996-2006 files only..';
COMMENT ON COLUMN financial_summary.GEN_ELECTION IS 'General election status: Win or loss of general election, Election result data included in 1996-2006 files only.';
COMMENT ON COLUMN financial_summary.GEN_ELECTION_PRECENT IS 'General Election Percentage: Percentage won in general election, Election result data included in 1996-2006 files only.';
COMMENT ON COLUMN financial_summary.OTHER_POL_CMTE_CONTRIB IS 'Contributions frm other political committees: Total contributions from other political commmittees.';
COMMENT ON COLUMN financial_summary.POL_PTY_CONTRIB IS 'Contributions from party committees: Total contributions from party committees.';
COMMENT ON COLUMN financial_summary.CVG_END_DT IS 'Coverage end date: End date of coverage for the candidate.';
COMMENT ON COLUMN financial_summary.INDIV_REFUNDS IS 'Refunds to individuals: total amount refunded to individuals.';
COMMENT ON COLUMN financial_summary.CMTE_REFUNDS IS 'Refunds to committees: Total amount refunded to committees.';

Running query in 'postgresql://student@/edassignment3'

++
||
++
++

In [22]:
%%sql
-- creating foreign key connections between tables 
ALTER TABLE contributions_by_individuals add FOREIGN KEY (CMTE_ID) REFERENCES commitee_master(CMTE_ID); --adding foreign key from contributions to commitee master cmte_id
---ALTER TABLE candidate_commitee_linkage add FOREIGN KEY (CMTE_ID) REFERENCES commitee_master(CMTE_ID); --adding foreign ket from linkage cmte_id to comittee cmte_id 
--ALTER TABLE candidate_commitee_linkage add FOREIGN KEY (CAND_ID) REFERENCES candidate_master(CAND_ID);-- adding foreign key cand_id from linkage to candidate master

Running query in 'postgresql://student@/edassignment3'

++
||
++
++

### Had to comment out the foreign keys from candidate_committee_linkage to both candidate_master and commitee_master because a foreign key violation error appear on both because the linkage has some cmte_id and cand_id that don't exist in both candidate and commitee master.

# Problem 2

The goal of this problem is to put all of the data into its respective table from the FEC links

In [23]:
!wget https://www.fec.gov/files/bulk-downloads/2026/cn26.zip
#This code uses wget to access the zip code from the fec.gov website

--2025-04-11 15:46:30--  https://www.fec.gov/files/bulk-downloads/2026/cn26.zip
Resolving www.fec.gov (www.fec.gov)... 18.160.46.26, 18.160.46.102, 18.160.46.56, ...
Connecting to www.fec.gov (www.fec.gov)|18.160.46.26|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/2026/cn26.zip [following]
--2025-04-11 15:46:30--  https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/2026/cn26.zip
Resolving cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)... 136.18.0.189
Connecting to cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)|136.18.0.189|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 182824 (179K) [application/zip]
Saving to: ‘cn26.zip’

cn26.zip            100%[===================>] 178.54K   737KB/s    in 0.2s

2025-04-11 15:46:30 (737 KB/s) - ‘cn26.zip’ saved [182824/182824]

In [24]:
!unzip -o cn26.zip
# this code unzips the file where -o overwrites

Archive:  cn26.zip
  inflating: cn.txt

In [25]:
!head cn.txt
#quick function get head and check that the data is in the txt file and check delimiter

H0AL01055|CARL, JERRY LEE, JR|REP|2026|AL|H|01|C|C|C00697789|PO BOX 852138||MOBILE|AL|36685
H0AL01097|AVERHART, JAMES|DEM|2024|AL|H|02|C|P|C00708867|811 SPRINGHILL AV||MOBILE|AL|36602
H0AL02087|ROBY, MARTHA|REP|2020|AL|H|02|I|P|C00462143|||MONTGOMERY||
H0AL02202|HARVEY-HALL, PHYLLIS|DEM|2024|AL|H|02|C|P|C00728873|P.O. BOX 11564||MONTGOMERY|AL|36111
H0AL05049|CRAMER, ROBERT E "BUD" JR|DEM|2008|AL|H|05|I|P|C00239038|PO BOX 2621||HUNTSVILLE|AL|35804
H0AL07086|SEWELL, TERRI A.|DEM|2026|AL|H|07|I|C|C00458976|PO BOX 1964||BIRMINGHAM|AL|35201
H0AR01083|CRAWFORD, ERIC ALAN RICK|REP|2026|AR|H|01|I|C|C00462374|34 CR 455||JONESBORO|AR|72404
H0AR01125|SMITH, PRINCELLA D|REP|2010|AR|H|01|O|P|C00480905|2000 WYNRIDGE COVE||WYNNE|AR|72396
H0AR03030|WHITAKER, DAVID JEFFREY|DEM|2010|AR|H|03|O|P|C00468033|PO BOX 957||FAYETTEVILLE|AR|727020957
H0AR03055|WOMACK, STEPHEN A THE HON|REP|2026|AR|H|03|I|C|C00477745|91 WOODRIDGE LN||ROGERS|AR|727563078

In [26]:
%%sql
COPY candidate_master FROM '/home/ubuntu/cn.txt'
DELIMITER '|'
CSV;
---load the data into candidate_master while using | as the delimiter to place each bit of data into its own column then treats it like a csv file

Running query in 'postgresql://student@/edassignment3'

4885 rows affected.

++
||
++
++

In [27]:
!pwd

/home/ubuntu

In [28]:
!wget https://www.fec.gov/files/bulk-downloads/2026/cm26.zip
#This code uses wget to access the zip code from the fec.gov website

--2025-04-11 15:46:45--  https://www.fec.gov/files/bulk-downloads/2026/cm26.zip
Resolving www.fec.gov (www.fec.gov)... 18.160.46.56, 18.160.46.26, 18.160.46.98, ...
Connecting to www.fec.gov (www.fec.gov)|18.160.46.56|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/2026/cm26.zip [following]
--2025-04-11 15:46:45--  https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/2026/cm26.zip
Resolving cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)... 108.175.49.160
Connecting to cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)|108.175.49.160|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 627932 (613K) [application/zip]
Saving to: ‘cm26.zip’

cm26.zip            100%[===================>] 613.21K  1.69MB/s    in 0.4s

2025-04-11 15:46:46 (1.69 MB/s) - ‘cm26.zip’ saved [627932/627932]

In [29]:
!unzip cm26.zip
# this code unzips the file

Archive:  cm26.zip
  inflating: cm.txt

In [30]:
!head cm.txt
#quick function get head and check that the data is in the txt file and check delimiter

C00000059|HALLMARK CARDS, INC. PAC (HALLPAC)|KLEIN, CASSIE MS.|2501 MCGEE, MD853||KANSAS CITY|MO|64108|B|Q|UNK|M|C|HALLMARK CARDS, INC.|
C00000422|AMERICAN MEDICAL ASSOCIATION POLITICAL ACTION COMMITTEE|JORDAN, JOHN ROBERT MR.|25 MASSACHUSETTS AVE, NW|SUITE 600|WASHINGTON|DC|200017400|B|Q||M||AMERICAN MEDICAL ASSOCIATION|
C00000489|D R I V E POLITICAL FUND CHAPTER 886|JERRY SIMS JR|3528 W RENO||OKLAHOMA CITY|OK|73107|U|N||Q|L||
C00000729|AMERICAN DENTAL ASSOCIATION POLITICAL ACTION COMMITTEE|TIPPETT-WHYTE, JUDEE DR.|400 C STREET, NE||WASHINGTON|DC|20002|B|Q|UNK|Q|M||
C00000885|INTERNATIONAL UNION OF PAINTERS AND ALLIED TRADES POLITICAL ACTION TOGETHER POLITICAL COMMITTEE|SMITH, GREGG|7234 PARKWAY DRIVE||HANOVER|MD|21076|B|Q|UNK|M|L|INTERNATIONAL UNION OF PAINTERS AND ALLIED TRADES|
C00000901|BUILD POLITICAL ACTION COMMITTEE OF THE NATIONAL ASSOCIATION OF HOME BUILDERS (BUILDPAC)|RAMAGE, EILEEN|1201 15TH STREET, NW||WASHINGTON|DC|20005|B|Q|UNK|M|T|NATIONAL ASSOCIATION OF HOME BUILDERS|
C00000935|DCCC|MERZ, JULIE|430 SOUTH CAPITOL STREET, SE|2ND FLOOR|WASHINGTON|DC|200034024|U|Y|DEM|M|||
C00000984|UNITED STATES TELECOM ASSOCIATION POLITICAL ACTION COMMITTEE (TELECOMPAC)|HEINER, BRANDON|601 NEW JERSEY AVE NW|STE 600|WASHINGTON|DC|20001|B|Q|UNK|M|T|UNITED STATES TELECOM ASSOCIATION|
C00001016|CARPENTERS LEGISLATIVE IMPROVEMENT COMMITTEE UNITED BROTHERHOOD OF CARPENTERS AND JOINERS|FLYNN, THOMAS|101 CONSTITUTION AVENUE, NW|10TH FLOOR WEST|WASHINGTON|DC|20001|B|Q|NNE|M|L|UNITED BROTHERHOOD OF CARPENTERS AND JOINERS OF AMERICA|
C00001180|MICHIGAN DOCTORS POLITICAL ACTION COMMITTEE - MICHIGAN STATE MEDICAL SOCIETY|GHOSE, AMIT|P.O. BOX 769||EAST LANSING|MI|48826|U|Q|NNE|Q|T|MICHIGAN STATE MEDICAL SOCIETY|

In [31]:
%%sql 
COPY commitee_master FROM '/home/ubuntu/cm.txt'
DELIMITER '|'
CSV;
---load the data into commitee_master while using | as the delimiter to place each bit of data into its own column then treats it like a csv file

Running query in 'postgresql://student@/edassignment3'

14895 rows affected.

++
||
++
++

In [32]:
!wget https://www.fec.gov/files/bulk-downloads/2026/indiv26.zip
#This code uses wget to access the zip code from the fec.gov website

--2025-04-11 15:46:56--  https://www.fec.gov/files/bulk-downloads/2026/indiv26.zip
Resolving www.fec.gov (www.fec.gov)... 18.160.46.102, 18.160.46.56, 18.160.46.98, ...
Connecting to www.fec.gov (www.fec.gov)|18.160.46.102|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/2026/indiv26.zip [following]
--2025-04-11 15:46:56--  https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/2026/indiv26.zip
Resolving cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)... 108.175.50.184
Connecting to cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)|108.175.50.184|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10363107 (9.9M) [application/zip]
Saving to: ‘indiv26.zip’

indiv26.zip         100%[===================>]   9.88M  8.08MB/s    in 1.2s

2025-04-11 15:46:58 (8.08 MB/s) - ‘indiv26.zip’ saved [10363107/10363107]

In [33]:
!unzip indiv26.zip 
# this code unzips the file

Archive:  indiv26.zip
  inflating: itcont.txt
replace by_date/itcont_2026_invalid_dates.txt? [y]es, [n]o, [A]ll, [N]one, [r]ename: ^C

In [36]:
!head itcont.txt
#quick function get head and check that the data is in the txt file and check delimiter

C00095869|N|M3|P|202503109754081902|15|IND|MOELLER, PHILIP D.|WASHINGTON|DC|200042696|EDISON ELECTRIC INSTITUTE|EXECUTIVE VICE PRESIDENT, REGULATORY A|02152025|208||980837E662014C5DA866|1879824|||4031020251179764615
C00095869|N|M3|P|202503109754081902|15|IND|MOELLER, PHILIP D.|WASHINGTON|DC|200042696|EDISON ELECTRIC INSTITUTE|EXECUTIVE VICE PRESIDENT, REGULATORY A|02282025|208||59CD26D3D4D94C649A38|1879824|||4031020251179764616
C00095869|N|M3|P|202503109754081902|15|IND|OWEN, BETHANY M.|DULUTH|MN|558022191|ALLETE|CHAIR, PRESIDENT & CEO|02242025|5000||5488DCF2-AA36-4B08-|1879824|||4031020251179764617
C00095869|N|M3|P|202503109754081903|15|IND|REITEN, PAT|WASHINGTON|DC|200042195|BERKSHIRE HATHAWAY ENERGY|SVP, PUBLIC POLICY, GOVERNMENT RELATIO|02282025|208||4F55A8C8D89751C8FFD1|1879824|||4031020251179764618
C00095869|N|M3|P|202503109754081903|15|IND|ROWE, ROBERT C.|MISSOULA|MT|59801|NORTHWESTERN ENERGY|FORMER CEO|02052025|208||42E6BED632C2E7A8D1E3|1879824|||4031020251179764619
C00095869|N|M3|P|202503109754081903|15|IND|SEIM, RUTH|WASHINGTON|DC|200042615|ALLIANT ENERGY|SENIOR FEDERAL AFFAIRS SPECIALIST|02132025|250||89A867C5-F8BD-4C87-|1879824|||4031020251179764620
C00095869|N|M3|P|202503109754081904|15|IND|SEWELL, MICHAEL|WASHINGTON|DC|200012271|TECO ENERGY|VP, FEDERAL AFFAIRS|02262025|250||43D012A2-320A-495C-|1879824|||4031020251179764621
C00095869|N|M3|P|202503109754081904|15|IND|SIEGELE, KRISTEN|WASHINGTON|DC|200042696|EDISON ELECTRIC INSTITUTE|SENIOR DIRECTOR, GOVERNMENT AFFAIRS, T|02152025|104||923EA95C52A4418EA5DC|1879824|||4031020251179764622
C00095869|N|M3|P|202503109754081904|15|IND|SIEGELE, KRISTEN|WASHINGTON|DC|200042696|EDISON ELECTRIC INSTITUTE|SENIOR DIRECTOR, GOVERNMENT AFFAIRS, T|02282025|104||06390DCD93DD49F88B9F|1879824|||4031020251179764623
C00095869|N|M3|P|202503109754081905|15|IND|STEPHENS, KEITH|MCKINNEY|TX|750726333|NATIONAL GRID|SVP/GROUP CORPORATE AFFAIRS DIRECTOR|02112025|208||4B4A83B56BD6AE3E6B93|1879824|||4031020251179764624

In [37]:
%%sql 
--- making date into text for now to upload the data
ALTER TABLE contributions_by_individuals
ALTER COLUMN TRANSACTION_DT TYPE TEXT USING TRANSACTION_DT::TEXT;

Running query in 'postgresql://student@/edassignment3'

++
||
++
++

In [38]:
%%sql 
COPY contributions_by_individuals FROM '/home/ubuntu/itcont.txt'
DELIMITER '|'
CSV;
---load the data into individual_contributions while using | as the delimiter to place each bit of data into its own column then treats it like a csv file

Running query in 'postgresql://student@/edassignment3'

323003 rows affected.

++
||
++
++

In [39]:
!wget https://www.fec.gov/files/bulk-downloads/2026/weball26.zip
#This code uses wget to access the zip code from the fec.gov website

--2025-04-11 15:47:48--  https://www.fec.gov/files/bulk-downloads/2026/weball26.zip
Resolving www.fec.gov (www.fec.gov)... 18.160.46.26, 18.160.46.56, 18.160.46.98, ...
Connecting to www.fec.gov (www.fec.gov)|18.160.46.26|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/2026/weball26.zip [following]
--2025-04-11 15:47:48--  https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/2026/weball26.zip
Resolving cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)... 108.175.56.58
Connecting to cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)|108.175.56.58|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18242 (18K) [application/zip]
Saving to: ‘weball26.zip’

weball26.zip        100%[===================>]  17.81K  --.-KB/s    in 0s

2025-04-11 15:47:48 (239 MB/s) - ‘weball26.zip’ saved [18242/18242]

In [40]:
!unzip weball26.zip  
# this code unzips the file

Archive:  weball26.zip
  inflating: weball26.txt

In [41]:
!head weball26.txt
#quick function get head and check that the data is in the txt file and check delimiter

H4AL07104|LITAKER, ROBIN DR.|C|2|REP|0|0|0|0|0|0|0|0|0|0|0|17577.39|0|AL|07||||||0|0|01/11/2025|0|0
H0AR03055|WOMACK, STEPHEN A THE HON|I|2|REP|345152.9|0|61701.99|0|1715893.66|1999344.57|0|0|0|0|0|0|177386.13|AR|03||||||152000|0|03/31/2025|49.5|0
H4AZ01244|O'CALLAGHAN, CONOR|C|1|DEM|0|0|0|0|0|0|0|0|0|0|0|1008210.62|0|AZ|01||||||0|0|03/31/2025|0|0
H2AZ01172|RENZI, RICHARD G.|I|2|REP|0|0|0|0|0|0|0|0|0|0|0|456157.37|0|AZ|01||||||0|0|03/31/2025|0|0
H2AZ06247|NORTON, ELIJAH|C|2|REP|0|0|0|0|1816.69|1816.69|0|0|0|0|0|4772612.36|0|AZ|01||||||0|0|03/31/2025|0|0
H8AZ02136|HEINZ, MATTHEW GERALD|O|1|DEM|0|0|0|0|0|0|0|0|0|0|0|250000|0|AZ|02||||||0|0|03/31/2025|0|0
H4AZ03141|WOOTEN, DUANE M MD|O|1|DEM|0|0|0|0|3583.13|3583.13|0|0|0|0|0|0|0|AZ|03||||||0|0|02/17/2025|0|0
H2AZ09183|DAVISON, JERONE|C|2|REP|300|0|0|0|-2930.41|-2630.41|0|0|0|0|0|0|300|AZ|04||||||0|0|03/31/2025|0|0
H2AZ09191|COOPER, KELLY|C|2|REP|0|0|30190.18|0|30190.18|0|0|0|0|23800|0|0|0|AZ|04||||||0|0|01/30/2025|0|0
H6AZ04219|HONER, BRADLEY J|C|2|REP|10|0|888.39|0|0|-878.39|0|0|0|0|0|0|10|AZ|04||||||0|0|04/05/2025|0|0

In [42]:
%%sql 
COPY financial_summary FROM '/home/ubuntu/weball26.txt'
DELIMITER '|'
csv;
---load the data into financial summary while using | as the delimiter to place each bit of data into its own column then treats it like a csv file

Running query in 'postgresql://student@/edassignment3'

532 rows affected.

++
||
++
++

In [43]:
!wget https://www.fec.gov/files/bulk-downloads/2026/ccl26.zip
#This code uses wget to access the zip code from the fec.gov website

--2025-04-11 15:48:03--  https://www.fec.gov/files/bulk-downloads/2026/ccl26.zip
Resolving www.fec.gov (www.fec.gov)... 18.160.46.98, 18.160.46.56, 18.160.46.102, ...
Connecting to www.fec.gov (www.fec.gov)|18.160.46.98|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/2026/ccl26.zip [following]
--2025-04-11 15:48:03--  https://cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com/bulk-downloads/2026/ccl26.zip
Resolving cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)... 108.175.48.160
Connecting to cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com (cg-519a459a-0ea3-42c2-b7bc-fa1143481f74.s3-us-gov-west-1.amazonaws.com)|108.175.48.160|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 52097 (51K) [application/zip]
Saving to: ‘ccl26.zip’

ccl26.zip           100%[===================>]  50.88K  --.-KB/s    in 0.06s

2025-04-11 15:48:03 (867 KB/s) - ‘ccl26.zip’ saved [52097/52097]

In [44]:
!unzip ccl26.zip
# this code unzips the file

Archive:  ccl26.zip
  inflating: ccl.txt

In [45]:
%%sql
copy candidate_commitee_linkage from '/home/ubuntu/ccl.txt'
DELIMITER '|'
CSV;
---load the data into commitee_linkage while using | as the delimiter to place each bit of data into its own column then treats it like a csv file

Running query in 'postgresql://student@/edassignment3'

4635 rows affected.

++
||
++
++

# Problem 3

This problem calculates the number of rows in each table with SQL and then verifies it with shell command.

In [51]:
!pip install csvkit

WARNING: Skipping /usr/lib/python3.12/dist-packages/charset_normalizer-3.3.2.dist-info due to invalid metadata entry 'name'
Requirement already satisfied: csvkit in /usr/lib/python3/dist-packages (1.4.0)
WARNING: Skipping /usr/lib/python3.12/dist-packages/charset_normalizer-3.3.2.dist-info due to invalid metadata entry 'name'

In [46]:
%%sql
SELECT COUNT (*) --- COUNT() returns the number of rows that match a set rule, the * makes it all of the rows
FROM Candidate_Master; --- Get number from candidate master table

Running query in 'postgresql://student@/edassignment3'

1 rows affected.

+-------+
| count |
+-------+
|  4885 |
+-------+

In [47]:
!wc -l cn.txt #This code looks at the txt file that the table got its information from.
#wc and -l counts the number of line in the txt file. this should match the count from the table

4885 cn.txt

In [48]:
%%sql
SELECT COUNT (*) --- COUNT() returns the number of rows that match a set rule, the * makes it all of the rows
FROM commitee_master; --- Get number from committee master table

Running query in 'postgresql://student@/edassignment3'

1 rows affected.

+-------+
| count |
+-------+
| 14895 |
+-------+

In [49]:
!wc -l cm.txt #This code looks at the txt file that the table got its information from.
#wc and -l counts the number of line in the txt file. this should match the count from the table

14895 cm.txt

In [50]:
%%sql
SELECT COUNT (*)  --- COUNT() returns the number of rows that match a set rule, the * makes it all of the rows
FROM candidate_commitee_linkage; --- Get number from candidate-committee linkage table

Running query in 'postgresql://student@/edassignment3'

1 rows affected.

+-------+
| count |
+-------+
|  4635 |
+-------+

In [51]:
!wc -l ccl.txt #This code looks at the txt file that the table got its information from.
#wc and -l counts the number of line in the txt file. this should match the count from the table

4635 ccl.txt

In [43]:
%%sql
SELECT COUNT (*) --- COUNT() returns the number of rows that match a set rule, the * makes it all of the rows
FROM contributions_by_individuals; --- Get number from individual contributions table

Running query in 'postgresql://student@/edassignment3'

1 rows affected.

+--------+
| count  |
+--------+
| 323003 |
+--------+

In [52]:
!wc -l itcont.txt #This code looks at the txt file that the table got its information from.
#wc and -l counts the number of line in the txt file. this should match the count from the table

323003 itcont.txt

In [53]:
%%sql
SELECT COUNT (*) --- COUNT() returns the number of rows that match a set rule, the * makes it all of the rows
FROM financial_summary; --- Get number from financial summary table

Running query in 'postgresql://student@/edassignment3'

1 rows affected.

+-------+
| count |
+-------+
|  532  |
+-------+

In [54]:
!wc -l weball26.txt #This code looks at the txt file that the table got its information from.
#wc and -l counts the number of line in the txt file. this should match the count from the table

532 weball26.txt

# Problem 4

comments in code and markdown cell to explain what is going on

In [55]:
%%sql
-------adding the column names
ALTER TABLE candidate_master
Add column First_Name VARCHAR(50), -- adding first name and will be empty
ADD COLUMN Last_Name VARCHAR(50); -- adding last name and will be empty

Running query in 'postgresql://student@/edassignment3'

++
||
++
++

In [57]:
%%sql
-- query to see if logic is correct
SELECT 
  TRIM(SPLIT_PART(CAND_NAME, ',', 2)) AS First_Name, ----splitting the cand name in two parts on the comma taking the second part as the firs_name
  TRIM(SPLIT_PART(CAND_NAME, ',', 1)) AS Last_Name --- splitting the cand_name in two parts on the comma taking the first part as the last name
FROM candidate_master

Running query in 'postgresql://student@/edassignment3'

4885 rows affected.

+-------------------+-------------+
|     first_name    |  last_name  |
+-------------------+-------------+
|     JERRY LEE     |     CARL    |
|       JAMES       |   AVERHART  |
|       MARTHA      |     ROBY    |
|      PHYLLIS      | HARVEY-HALL |
|  ROBERT E BUD JR  |    CRAMER   |
|      TERRI A.     |    SEWELL   |
|   ERIC ALAN RICK  |   CRAWFORD  |
|    PRINCELLA D    |    SMITH    |
|   DAVID JEFFREY   |   WHITAKER  |
| STEPHEN A THE HON |    WOMACK   |
+-------------------+-------------+
Truncated to displaylimit of 10.

In [58]:
%%sql 
-- quick query to see columns were created
select * from candidate_master
limit 2

Running query in 'postgresql://student@/edassignment3'

2 rows affected.

+-----------+---------------------+----------------------+------------------+----------------+-------------+----------------------+----------+-------------+-----------+-------------------+----------+-----------+---------+----------+------------+-----------+
|  cand_id  |      cand_name      | cand_pty_affiliation | cand_election_yr | cand_office_st | cand_office | cand_office_district | cand_ici | cand_status |  cand_pcc |      cand_st1     | cand_st2 | cand_city | cand_st | cand_zip | first_name | last_name |
+-----------+---------------------+----------------------+------------------+----------------+-------------+----------------------+----------+-------------+-----------+-------------------+----------+-----------+---------+----------+------------+-----------+
| H0AL01055 | CARL, JERRY LEE, JR |         REP          |       2026       |       AL       |      H      |          01          |    C     |      C      | C00697789 |   PO BOX 852138   |   None   |   MOBILE  |    AL   |  36685   |    None    |    None   |
| H0AL01097 |   AVERHART, JAMES   |         DEM          |       2024       |       AL       |      H      |          02          |    C     |      P      | C00708867 | 811 SPRINGHILL AV |   None   |   MOBILE  |    AL   |  36602   |    None    |    None   |
+-----------+---------------------+----------------------+------------------+----------------+-------------+----------------------+----------+-------------+-----------+-------------------+----------+-----------+---------+----------+------------+-----------+

In [59]:
%%sql
UPDATE candidate_master  --putting values from query to split cand_name in two and putting them in first and last name
SET 
  first_name = TRIM(SPLIT_PART(CAND_NAME, ',', 2)), ---updating the empty values in first_name by taking the second part of cand_name and putting it in first name
  last_name = TRIM(SPLIT_PART(CAND_NAME, ',', 1))  ---updating the empty values in last_name by taking the first part of cand_name and putting it in last name

Running query in 'postgresql://student@/edassignment3'

4885 rows affected.

++
||
++
++

In [61]:
%%sql 
-- quick query to see that the values were inserted correctly in the columns
select * from candidate_master
limit 2;

Running query in 'postgresql://student@/edassignment3'

2 rows affected.

+-----------+----------------+----------------------+------------------+----------------+-------------+----------------------+----------+-------------+-----------+------------------+----------+-----------+---------+----------+------------+-----------+
|  cand_id  |   cand_name    | cand_pty_affiliation | cand_election_yr | cand_office_st | cand_office | cand_office_district | cand_ici | cand_status |  cand_pcc |     cand_st1     | cand_st2 | cand_city | cand_st | cand_zip | first_name | last_name |
+-----------+----------------+----------------------+------------------+----------------+-------------+----------------------+----------+-------------+-----------+------------------+----------+-----------+---------+----------+------------+-----------+
| P40008641 |  DVORAK, JOHN  |         REP          |       2024       |       US       |      P      |          00          |    C     |      N      | C00822635 |        *         |   None   |     *     |    CA   |  00000   |    JOHN    |   DVORAK  |
| H6OH04173 | WILSON, TAMARA |         DEM          |       2026       |       OH       |      H      |          04          |   None   |      N      |    None   | 273 SARATOGA ST. |   None   |  DELAWARE |    OH   |  43015   |   TAMARA   |   WILSON  |
+-----------+----------------+----------------------+------------------+----------------+-------------+----------------------+----------+-------------+-----------+------------------+----------+-----------+---------+----------+------------+-----------+

## Dropping cand_name

In [62]:
%%sql 
alter table candidate_master -- altering table to drop cand_name
drop column cand_name -- drops the column cand_name from candidate_master

Running query in 'postgresql://student@/edassignment3'

++
||
++
++

In [63]:
%%sql 
-- quick query to see the column cand_name is dropped
select * from candidate_master
limit 2

Running query in 'postgresql://student@/edassignment3'

2 rows affected.

+-----------+----------------------+------------------+----------------+-------------+----------------------+----------+-------------+-----------+------------------+----------+-----------+---------+----------+------------+-----------+
|  cand_id  | cand_pty_affiliation | cand_election_yr | cand_office_st | cand_office | cand_office_district | cand_ici | cand_status |  cand_pcc |     cand_st1     | cand_st2 | cand_city | cand_st | cand_zip | first_name | last_name |
+-----------+----------------------+------------------+----------------+-------------+----------------------+----------+-------------+-----------+------------------+----------+-----------+---------+----------+------------+-----------+
| P40008641 |         REP          |       2024       |       US       |      P      |          00          |    C     |      N      | C00822635 |        *         |   None   |     *     |    CA   |  00000   |    JOHN    |   DVORAK  |
| H6OH04173 |         DEM          |       2026       |       OH       |      H      |          04          |   None   |      N      |    None   | 273 SARATOGA ST. |   None   |  DELAWARE |    OH   |  43015   |   TAMARA   |   WILSON  |
+-----------+----------------------+------------------+----------------+-------------+----------------------+----------+-------------+-----------+------------------+----------+-----------+---------+----------+------------+-----------+

# Problem 5

### Part 1

Taking specified columns and getting all candidates that were active in 2024 and above that office was specified as dc

In [64]:
%%sql
select first_name, last_name, cand_pty_affiliation, cand_status, cand_pcc, cand_election_yr, cand_office_st --getting the specified columns 
FROM candidate_master 
where cand_election_yr >= 2024 AND cand_office_st = 'DC' -- getting all the candidates by first and last name that were active from 2024 and above and their office was in DC

Running query in 'postgresql://student@/edassignment3'

9 rows affected.

+-----------------------+-----------+----------------------+-------------+-----------+------------------+----------------+
|       first_name      | last_name | cand_pty_affiliation | cand_status |  cand_pcc | cand_election_yr | cand_office_st |
+-----------------------+-----------+----------------------+-------------+-----------+------------------+----------------+
|     ELEANOR HOLMES    |   NORTON  |         DEM          |      C      | C00244335 |       2026       |       DC       |
|         KELLY         |  WILLIAMS |         DEM          |      P      | C00853739 |       2024       |       DC       |
|         KYMONE        |  FREEMAN  |         OTH          |      N      | C00866863 |       2024       |       DC       |
|     HELCHIC KOTON     |   WATTS   |         OTH          |      N      | C00884866 |       2024       |       DC       |
|  MYRTLE PATRICIA DR.  | ALEXANDER |         REP          |      N      | C00865212 |       2024       |       DC       |
|        MICHAEL        |  A BROWN  |         IND          |      P      | C00866632 |       2024       |       DC       |
|  KELLY MIKEL MIKEL MR |  WILLIAMS |         DEM          |      P      | C00853739 |       2024       |       DC       |
|   ANGEL ANTHONY MR.   |    RIOS   |         DEM          |      N      | C00891762 |       2026       |       DC       |
| BRANDAUN LEFRED MAYOR |    DEAN   |         DEM          |      N      | C00835355 |       2024       |       DC       |
+-----------------------+-----------+----------------------+-------------+-----------+------------------+----------------+

### Part 2

Selecting the candidate count associated with the the committee by joining commitee_master and candidate_commitee_linkage on cmte_id since candidate_commitee_linkage doesnt have all the columns we need

In [65]:
%%sql
SELECT --- selecting commitee name, commitee type, committie affiliation, and the candidate count to sort by candidate count
  commitee_master.cmte_nm, --specifing what table the column is coming from
  commitee_master.cmte_tp,
  commitee_master.cmte_pty_affiliation,
  top.candidate_count
FROM (  --- query from candidate_commitee_linkage takes all commitees and orders them by how many candidates are associated with them
  SELECT cmte_id, COUNT(DISTINCT cand_id) AS candidate_count --getting the unique count of candidates that are associated with that commitee
  FROM candidate_commitee_linkage --getting the count of candidates from candidate commitee linkage as committee_master wouldnt have this information
  GROUP BY cmte_id
  ORDER BY candidate_count DESC
  LIMIT 10 --- the top ten commitees
) top
JOIN commitee_master --- we are joining the query from candidate_commitee_linkage named top to commitee_master because they have those columns on cmte_id because that is the primary/foreign key
  ON top.cmte_id = commitee_master.cmte_id;

Running query in 'postgresql://student@/edassignment3'

10 rows affected.

+---------------------------------------------------------------+---------+----------------------+-----------------+
|                            cmte_nm                            | cmte_tp | cmte_pty_affiliation | candidate_count |
+---------------------------------------------------------------+---------+----------------------+-----------------+
| FRESHMAN AGRICULTURAL REPUBLICAN MEMBERS TRUST AKA FARM TRUST |    N    |         None         |        16       |
|            BERMAN4CONGRESS2MAKE AMERICA GEEKY AGAIN           |    S    |         REP          |        8        |
|              PERIDOT OPERATIONS INC- ULOMA EKPETE             |    H    |         REP          |        8        |
|                          PATRIOT PAC                          |    Q    |         None         |        6        |
|         ALIX CHRISTOPHER TOULME JR. FOR PRESIDENT 2024        |    P    |         OTH          |        4        |
|              ANGIE WINDHAUSER FOR US CONGRESS D1              |    H    |         REP          |        4        |
|                       AIDAN FOR CONGRESS                      |    H    |         REP          |        4        |
|                  DON HEWETT FOR CONGRESS WA10                 |    H    |         REP          |        3        |
|                    LIZ MATORY FOR CONGRESS                    |    H    |         REP          |        3        |
|                       FRIENDS OF WOLFMAN                      |    P    |         IND          |        3        |
+---------------------------------------------------------------+---------+----------------------+-----------------+
Truncated to displaylimit of 10.

### Part 3

Getting the top ten individual contribution by contributions by individuals and sorting by greatest to least. Will need to join commitee_master to the query invcount that came from contributions_by_individuals as not all columns specified in the problem are found in contributions_by_individuals but in commitee_master

In [66]:
%%sql
SELECT  ---- selecting commitee name, committee type , committee affiliation, and the indiviudal contribution sorting from biggest to smallest
	commitee_master.cmte_nm,
	commitee_master.cmte_tp,
	commitee_master.cmte_pty_affiliation,
	invcount.individual_contribution
FROM (   --- query from contributions by individuals to get individual contributions
	select sum(transaction_amt) as individual_contribution, cmte_id -- we are getting the sum of individual contribution that came from that specific commitee
	from contributions_by_individuals
	group by cmte_id
	order by individual_contribution desc --ordering from greatest to least
	 limit 10)invcount  --getting the top ten individual contributions 
JOIN commitee_master --since contributions by individuals doesnt have the commitee name, commitee type, or affiliation we will join commitee_master to the query invcount that came from individual contributions on the cmte_id because it is the primary/foreign key
ON invcount.cmte_id = commitee_master.cmte_id

Running query in 'postgresql://student@/edassignment3'

10 rows affected.

+---------------------------------------------------------------------+---------+----------------------+-------------------------+
|                               cmte_nm                               | cmte_tp | cmte_pty_affiliation | individual_contribution |
+---------------------------------------------------------------------+---------+----------------------+-------------------------+
|                    REPUBLICAN NATIONAL COMMITTEE                    |    Y    |         REP          |       10857014.00       |
|                                 NRSC                                |    Y    |         REP          |        8061692.00       |
|                                 DCCC                                |    Y    |         DEM          |        5154087.00       |
|          DNC SERVICES CORP / DEMOCRATIC NATIONAL COMMITTEE          |    Y    |         DEM          |        4167271.00       |
|                                 NRCC                                |    Y    |         REP          |        3708240.00       |
|                                 DSCC                                |    Y    |         DEM          |        3580128.00       |
| AMERICAN ISRAEL PUBLIC AFFAIRS COMMITTEE POLITICAL ACTION COMMITTEE |    Q    |         None         |        2188444.00       |
|                        JOSH WEIL FOR CONGRESS                       |    H    |         DEM          |        1934210.00       |
|                   FRIENDS OF JIMMY PATRONIS, INC.                   |    H    |         REP          |        1670532.00       |
|                DEMOCRATIC PARTY OF WISCONSIN FEDERAL                |    Y    |         DEM          |        1491835.00       |
+---------------------------------------------------------------------+---------+----------------------+-------------------------+
Truncated to displaylimit of 10.

### Part 4

Will need to add a case to add up 'employed' and 'non employed' variants so the outcome can be accurate. To get the total contributions we will need to use a sum function on transaction_amt to get the total contributions by those distinct_committees. The distinct committess are found by using count and distinct to specify the unique and total distinct committees

In [67]:
%%sql
SELECT  
	CASE  -- applying a case because we want combine similiar employers with them selves to get a more accurate reading of the output
	WHEN UPPER(employer) in ('NOT EMPLOYED', 'N/A', 'NONE','NOT-EMPLOYED') THEN 'NOT EMPLOYED'  -- not employed variants were used so we are combining as many of them found in the data
	WHEN UPPER(employer) in ('SELF EMPLOYED', 'SELF', 'SELF-EMPLOYED', 'SELF- EMPLOYED') THEN 'SELF EMPLOYED'-- employed had many variants so we are adding them together like not employed
	ELSE employer -- after going through employed and not employed variants if it doesnt hit one of those conditions it will return whatever employer it is 
	END AS cleaned_employers,
	SUM(transaction_amt) as total_contributions,  --getting the total contributions that came from that specific employer from the distinct committees
	COUNT(DISTINCT(cmte_id)) as distinct_committees-- getting the count of specific commitees that got contributions from that employer
from contributions_by_individuals
WHERE employer is not null--- want to exclude null employers
group by cleaned_employers
order by total_contributions desc
limit 10; -- top 10

Running query in 'postgresql://student@/edassignment3'

10 rows affected.

+--------------------------------------+---------------------+---------------------+
|          cleaned_employers           | total_contributions | distinct_committees |
+--------------------------------------+---------------------+---------------------+
|             NOT EMPLOYED             |     14853699.00     |         204         |
|               RETIRED                |      9091324.00     |         213         |
|            SELF EMPLOYED             |      6277454.00     |         275         |
|          WINKLEVOSS CAPITAL          |      815913.00      |          1          |
|            STEPHENS INC.             |      708800.00      |          2          |
|        MOUNTAIRE CORPORATION         |      631200.00      |          3          |
|    ELLIOTT MANAGEMENT CORPORATION    |      578200.00      |          2          |
|          MINOGUE CONSULTING          |      453000.00      |          2          |
| BRODIE GENERATIONAL CAPITAL PARTNERS |      443000.00      |          1          |
|     BOOK CAPITAL ENTERPRISES LLC     |      443000.00      |          1          |
+--------------------------------------+---------------------+---------------------+
Truncated to displaylimit of 10.